<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>免费</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1,maximum-scale=1, minimum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <!--自定义的css-->
    <link rel="stylesheet" href="css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
    <link rel="stylesheet" type="text/css" href="css/iconfont.css"/><!-- 自定义字体图标 -->

    <style>

        .item-active {
            line-height: 23px;
            font-size: 12px;
            border-radius: 90px;
            color: #f35b75;
            padding: 0 15px;
            margin-right: 15px;
            margin-top: 8px
        }

    </style>

</head>
<body style="background-color: white">

<div class="mui-content" id="app">

    <div id="slider-banner" class="mui-slider">
        <div class="mui-slider-group mui-slider-loop">
            <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->


            <!--第一张 v-for=" (item, index) in data" v-if="index<10"-->


            <!-- 第三张 -->
            <div class="mui-slider-item">
                <a @click="openContentDetail('ff808081616b58bd01616b6705e5000b',null)">
                    <img src="images/banner-xiyouji.jpg">
                </a>
            </div>

            <!--第一张-->
            <div class="mui-slider-item">
                <a @click="openContentDetail('ff808081616b58bd01616b6690720009',null)">
                    <img src="images/banner-zhonghua.jpg">
                </a>
            </div>

            <!--第二张-->
            <div class="mui-slider-item">
                <a @click="openContentDetail('ff808081616b58bd01616b660c870005',null)">
                    <img src="images/banner-sanzijing.jpg">
                </a>
            </div>
            <!-- 第三张 -->
            <div class="mui-slider-item">
                <a @click="openContentDetail('ff808081616b58bd01616b6705e5000b',null)">
                    <img src="images/banner-xiyouji.jpg">
                </a>
            </div>

            <!-- 第四张 -->
            <!--<div class="mui-slider-item">-->
            <!--<a href="content-details.html?id=ff8080816155bd6c016155daf089001c">-->
            <!--<img src="images/banner-sanzijing.jpg">-->
            <!--</a>-->
            <!--</div>-->


            <div class="mui-slider-item">
                <a @click="openContentDetail('ff808081616b58bd01616b6690720009',null)">
                    <img src="images/banner-zhonghua.jpg">
                </a>
            </div>

        </div>

        <div class="mui-slider-indicator">
            <div class="mui-indicator mui-active"></div>
            <div class="mui-indicator"></div>
            <div class="mui-indicator"></div>
        </div>
    </div>


    <div style="position: relative">
        <div id="category-all"
             style="text-align:  center ; padding-top: 10px; color:#f35b75;  background-color: white ; float: left;font-size: 12px ;width: 20%  ; padding-left: 0;  height: 40px"><span
                class="mui-control-item "
                style="border-radius: 90px ;border: solid 1px  ; padding: 3px 15px ; font-size: 12px ;" id="allSpan"
                @click="allCourse"> 全部</span>
        </div>
        <div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control "
             style=" font-size: 12px ; background-color: white  ; width: 80% ;  height: 40px">
            <div id="category-item" class="mui-scroll">
                <a v-for=" (item, index) in classifyData" class="mui-control-item   item-active"
                   :style="classId == item.classId ? changeStyle  : defaultStyle"
                   v-text="item.className" @click="getClassifyData(item.classId )"></a>
                <!--<a class="mui-control-item  item-active" style="line-height: 23px;  font-size: 12px; border-radius: 90px ; color: #f35b75 ;border: solid 1px  #f35b75;padding: 0 15px ;margin-bottom: 5px ;margin-left: 15px">亲子</a>-->


            </div>
        </div>
    </div>

    <div style="height: 10px ; width: 100% ;background-color: #f9faff"></div>
    <div class="" style="background-color: white;">

        <template v-if="freeData">

            <div class="" style=" text-align:  left;  font-size: 14px;   padding: 10px  25px ;">
                <span id="mostNew" onclick="mostNew()" style="color: #f35b75">最新</span>&nbsp&nbsp<span id="mostHot"
                                                                                                       onclick="mostHot()"
                                                                                                       style="color:#d2d2d2;">最热</span>

            </div>


            <div class="list">

                <ul class="mui-table-view">
                    <li v-for=" (item, index) in freeData" v-if="index<10" class="mui-table-view-cell mui-media"
                        style=" height: 100%">
                        <a class="item-a" @click="openDetailsPage(item.id)">

                            <div class="item-div-img">
                                <img class="item-preview-img"
                                     v-bind:src="  item.preview ==''  ?   'images/default-preview.jpg' : item.preview   ">
                            </div>
                            <div class="item-content-div">
                                <div class="item-content-div-div">
                                    <p class=" item-contentName">{{item.contentName}} </p>
                                    <p class="item-totalNum-num">共{{item.totalNum}}集 | 已更{{item.hasNum}}集</p>
                                    <p class="item-playNum"> {{item.playNum > 9999 ?
                                        Math.round(item.playNum/10000*100)/100 +'万人在学' :item.playNum+'人在学'
                                        }}</p>
                                    <div class="item-content-div-div-div">
                                        <p>
                                            <span class="item-base-price">{{item.isFree ?  '' : '原价¥'}} {{item.isFree ?  '' : item.price+30}}</span>
                                            <span class="item-price"> {{item.isFree ? '免费' : '¥'+item.price+'' }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>

        </template>
    </div>

    <!--<div style="background-color: white ; font-size: 8px ; color: darkgray; width: 100% ; text-align: center; padding: 15px">-->

    <!--<span>已经加载完</span>-->

    <!--</div>-->

</div>


<!--js 脚本-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/mui.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/base.js?_20180207"></script>
<script src="js/api.js"></script>

<script>



    mui.init({
        swipeBack: false  //关闭右滑关闭功能
    });


    var vuefree = new Vue({
            el: '#app',
            data: {

                classId: '',
                classifyData: null,
                freeData: null,
                defaultStyle: {

                    lineHeight: '23px',
                    fontSize: '12px',
                    color: 'black',
                    backgroundColor: '#EEEFEA',
                    border: 'solid 1px #EEEFEA'

                },
                changeStyle: {
                    lineHeight: '23px',
                    fontSize: '12px',
                    backgroundColor: 'white',
                    border: 'solid 1px #f35b75'

                }
            },

            mounted() {
                this.getClassifyList();
            },
            watch: {
                lookA: function () {

                }
            },

            methods: {

                allCourse: function () {
                    $("#allSpan").css('background-color', 'white');
                    $("#allSpan").css('color', '#f35b75');
                    $("#allSpan").css('border', 'solid 1px #f35b75');
                    this.classId = '';

                },

                getClassifyData: function (classId) {
                    this.classId = classId;

                    $("#allSpan").css('background-color', '#EEEFEA');
                    $("#allSpan").css('color', 'black');
                    $("#allSpan").css('border', 'solid 1px #EEEFEA');

                    $.ajax({
                        url: hostUrl + 'wx/search/detail',
                        type: 'post',
                        data: {
                            'appKey': APPKEY,
                            'sign': SIGN,
                            'cpid': CHANNELID,
//                            'classId': classId,
                            'isFree': 0

                        },
                        dataType: 'json',
                        success: function (result) {
                            console.log(result);

                            if (result.code === 200) {
                                console.log("200");
                                vuefree.freeData = JSON.parse(result.data);
                            } else {
                            }
                        },
                        error: function () {
                        }
                    });
                },
                getClassifyList: function () {
                    $.ajax({
                        url: hostUrl + 'wx/search/classify',
                        type: 'post',
                        data: {
                            'appKey': APPKEY,
                            'sign': SIGN

                        },
                        dataType: 'json',
                        success: function (result) {
                            console.log(result);

                            if (result.code == 200) {
                                console.log("200");
                                vuefree.classifyData = JSON.parse(result.data);
                            } else {
                            }
                        },
                        error: function () {
                        }
                    });
                }
            }


        })
    ;


    /**
     *
     */


</script>
</body>
</html>