<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>我的消息</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1,maximum-scale=1, minimum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
    <style>

        .hot_recommend {
            width: 50%;
            font-size: 16px;
            color: white;
            background: #f35b75;
            display: inline-block;
            border-radius: 20px;
            padding: 6px 8px;
        }

        /* 可以设置不同的进入和离开动画 */
        /* 设置持续时间和动画函数 */
        .slide-fade-enter-active {
            transition: all 1s ease;
        }

        .slide-fade-leave-active {
            transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }

        .slide-fade-enter, .slide-fade-leave-to
            /* .slide-fade-leave-active for below version 2.1.8 */
        {
            transform: translateX(10px);
            opacity: 0;
        }


    </style>

</head>

<body style="width: 100%;height: 100%;background-color: white;">
<div class="mui-content" id="app">
    <div id="my_collent" style=" background-color: #F5F5F5; ">

        <div id="item-course" class="mui-control-content mui-active">
            <transition name="slide-fade">
                <template v-if="isShow">

                    <ul class="mui-table-view">
                        <li v-for="item in messageData "
                            style=" padding-top: 10px" @click="openPlayPage(item.productId, '')">


                            <div style=" float: left;width: 18%;  padding: 0 10px 0 20px  ">
                                <img src="images/sandaoyun-logo.png" style="width: 100%">

                            </div>

                            <div>
                                <span style="color: #f35b75;font-size: 16px;">三到云课堂小助手</span>
                            </div>

                            <div style=" padding-left: 74px ; font-size: 14px ;padding-top: 5px">
                                {{item.messageContent}}
                            </div>
                            <div style="color: #f35b75 ; padding-left: 74px ; font-size: 14px ; padding-top: 5px">
                                戳此可查看课程详情！
                            </div>
                            <div style="  padding-left: 74px ; font-size: 12px ;padding-top: 5px ; padding-bottom: 10px ;   color: #878787 ">
                                {{ item.createTime}}
                            </div>

                            <div style="height: 3px ; width: 100% ;background-color: #f9faff"></div>
                        </li>


                    </ul>


                </template>
            </transition>
            <template v-else>
                <div style="width: 100%;height: 100%;background-color: white;text-align: center;">
                    <div style="padding-top: 20%;">
                        <img style="width: 30%;height: 50%;" src="images/person-news-not.png"/>
                    </div>
                    <div style="margin-top: 4%;">
                        <p style="font-size: 11px;">暂无消息喔~</p>
                    </div>
                    <div @click="openHomePage" style="margin-top: 4%;">
                        <p class="mui-ellipsis hot_recommend">热门推荐</p>
                    </div>
                </div>
            </template>
        </div>

    </div>

</div>

<!--先引入库文件 再使用库文件  顺序不能乱-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!--<script src="https://cdn.bootcss.com/babel-polyfill/6.23.0/polyfill.min.js"></script>-->
<script src="js/mui.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/api.js"></script>
<script src="js/base.js"></script>

<script>
    //mui初始化
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
    //获取我的消息数据
    $.ajax({
        url: hostUrl + 'wx/message/myMessage',
        type: 'post',
        data: {
            'appKey': 'sandaoyun',
            'sign': '59CCE180FFAC49C8FF97DE2A0A08C119',
            'cpid': '100001',
            'userid': userid
        },
        dataType: 'json',
        success: function (result) {
            if (result.code == 200) {
                var data = JSON.parse(result.data);
                if (data && data.length != 0) {
                    //$('#item-success').show();
                    cvm.isShow = true;
                    cvm.messageData = data;
                } else {
                    //$('#item-success').hide();
                    cvm.isShow = false;
                }
            } else {
                //$('#item-success').hide();
                cvm.isShow = false;
            }
        },
        error: function () {
            cvm.isShow = false;
        }
    });

    var cvm = new Vue({
        el: '#item-course',
        data: {
            messageData: null,
            isShow: false
        },
        methods: {}
    });


</script>

</body>

</html>